Django==5.0.8
Wagtail==6.2.2
djangorestframework
django-cors-headers
psycopg2-binary
python-decouple
Pillow
django-filter
gunicorn
anyascii
django-modelcluster
django-permissionedforms
django-taggit
django-tasks
django-treebeard==4.5.1
draftjs_exporter
laces
modelsearch
requests
Willow
beautifulsoup4==4.12.3
html5lib
l18n
telepath